{% sw_extends '@Storefront/storefront/layout/header/header.html.twig' %}

{% block layout_header %}
    {% block layout_header_navigation %}
        <div class="row align-items-center header-row">
            {% block layout_header_logo %}
                {{ parent() }}
            {% endblock %}
            
            {% block layout_header_menu_btn %}
                <div class="col-sm-auto d-none d-sm-block d-lg-none header-menu-btn-col">
                    {% block layout_header_navigation_toggle_tablet %}
                        {{ parent() }}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_header_menu %}
                <div class="col-12 order-2 col-sm order-sm-1 d-flex justify-content-center header-menu-col">
                    {% block base_navigation_inner %}
                        {% sw_include '@Storefront/storefront/layout/navigation/navigation.html.twig' %}
                    {% endblock %}
                </div>
            {% endblock %}

            {% block layout_header_actions %}
                <div class="col-12 order-3 col-sm-auto order-sm-3 header-actions-col">
                    {% block layout_header_search %}
                        <div class="collapse header-search" id="searchCollapse">
                            {% sw_include '@Storefront/storefront/layout/header/search.html.twig' %}
                        </div>
                    {% endblock %}
                    <div class="row g-0">
                        {% block layout_header_navigation_toggle %}
                            {{ parent() }}
                        {% endblock %}
                        
                        {% block layout_header_search_toggle %}
                            <div class="col-auto">
                                <div class="search-toggle">
                                    <button class="btn header-actions-btn search-toggle-btn js-search-toggle-btn collapsed"
                                            type="button"
                                            data-bs-toggle="collapse"
                                            data-bs-target="#searchCollapse"
                                            aria-expanded="false"
                                            aria-controls="searchCollapse"
                                            aria-label="{{ "header.searchButton"|trans|striptags }}">
                                        {% sw_icon 'search' style {
                                            'pack': 'custom-icons', 'namespace': 'CustomHeader'
                                        } %}
                                    </button>
                                </div>
                            </div>
                        {% endblock %}
                        
                        {% if config('core.cart.wishlistEnabled') %}
                            {% block layout_header_actions_wishlist %}
                                {{ parent() }}
                            {% endblock %}
                        {% endif %}

                        {% block layout_header_actions_account %}
                            {{ parent() }}
                        {% endblock %}

                        {% block layout_header_actions_cart %}
                            {{ parent() }}
                        {% endblock %}
                    </div>
                </div>
            {% endblock %}
        </div>
    {% endblock %}
{% endblock %} 